---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime";
import SanityPortableText from '../components/SanityPortableText.astro'
import { getSanityImageURL } from '../utils/helpers.js'
import { slugifyStr } from "@utils/slugify";

export interface Props {
  post: any;
}

const { post } = Astro.props;

const { title, author, description, mainImage, canonical, publishedAt, tags } =
  post;

const imgUrl = post.mainImage ? getSanityImageURL(post.mainImage).url() : null;

const ogImageUrl = typeof imgUrl === "string" ? imgUrl : imgUrl?.src;
const ogUrl = new URL(
  ogImageUrl ?? `/posts/${slugifyStr(title)}.png`,
  Astro.url.origin
).href;
---

<Layout
  title={title}
  author={author}
  description={description}
  ogImage={ogUrl}
  canonicalURL={canonical}
>
  <Header />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mb-2 mt-8 flex hover:opacity-75"
      onclick="history.back()"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>Go back</span>
    </button>
  </div>
  <main id="main-content">
    <h1 transition:name={slugifyStr(title)} class="post-title">{title}</h1>
    <Datetime datetime={publishedAt} size="lg" className="my-2" />
    <ul>
      {tags.map((tag:string) => <Tag name={tag} size="sm" />)}
    </ul>
    {post.mainImage && 
      <img class="post-main__img post-hero" loading="lazy" src={getSanityImageURL(post.mainImage).url()} />}
    <article id="article" role="article" class="prose mx-auto mt-8 max-w-3xl">
      <SanityPortableText portableText={post.body} />
    </article>

    <div class="flex justify-end">
      <button
        id="back-to-top"
        class="focus-outline whitespace-nowrap hover:opacity-75"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rotate-90">
          <path
            d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
          ></path>
        </svg>
        <span>Back to Top</span>
      </button>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  .post-hero {
    @apply max-h-60;
  }
  .post-title {
    @apply text-2xl font-semibold text-skin-accent;
  }
</style>

<script is:inline>
  /* When the user clicks on the "Back to Top" button,
   * scroll to the top of the document */
  document.querySelector("#back-to-top")?.addEventListener("click", () => {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  });
</script>
