---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
// import getSortedPosts from "@utils/getSortedPosts";
import { formatPostData } from "@utils/helpers";
import { getAllPosts } from "lib/api";
import BudgetStatusBars from "@components/BudgetStatusBars.astro";
import Categories from "@components/Categories.astro";
import About from "@components/About.astro";

const posts = await formatPostData(await getAllPosts());

// const sortedPosts = getSortedPosts(posts);
// const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

export interface Post {
  title: string;
  slug: string;
  author: string;
  mainImage: string;
  mainImageAlt: string;
  tags: [];
  tagData: [];
  publishedAt: string;
  featured: boolean;
  body: string;
  description: any;
  _id: string;
}
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="home-content" class="order-1">
      <!-- {
      featuredPosts.length > 0 && (
        <>
          <section id="recent"  class="prose">
            <h2>featured posts</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
            <div class="all-posts-btn-wrapper">
              <LinkButton href="/posts">
                All Posts
                <svg xmlns="http://www.w3.org/2000/svg">
                  <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
                </svg>
              </LinkButton>
            </div>
          </section>
        </>
      )
    } -->

      <section id="recent-posts" class="prose">
        <h2>recent posts</h2>
        <div class="flex flex-wrap justify-between gap-3">
          {
            posts
              .filter((post: Post) => !post.featured)
              .map(
                (post: Post, index: number) =>
                  index < 4 && (
                    <Card
                      href={`/posts/${post.slug}`}
                      frontmatter={post}
                      secHeading={false}
                    />
                  )
              )
          }
        </div>
        <div class="all-posts-btn-wrapper">
          <LinkButton href="/posts">
            All Posts
            <svg xmlns="http://www.w3.org/2000/svg"
              ><path
                d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
              ></path>
            </svg>
          </LinkButton>
        </div>
      </section>
      <section id="home-sidebar-mobile" class="md:hidden prose order-2">
        <About />
        <BudgetStatusBars />
      </section>
      <!-- <section id="recent-posts" class="prose max-width-none">
      <h2>recent posts</h2>
      <ul>
        {
          sortedPosts
            .filter(({ data }) => !data.featured)
            .map(
              ({ data }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slugify(data)}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section> -->
      <section id="home-categories">
        <h2>categories</h2>
        <Categories />
      </section>
      <!-- <section id="products" class="order-5">
      <h2>things I like</h2>
    </section> -->
    </section>
    <section id="home-sidebar-md" class="hidden md:block prose order-2">
      <About />
      <BudgetStatusBars />
    </section>

  </main>
  <Footer />

  <style>
    /* ===== Main Content ===== */
    #main-content {
      @apply box-content flex max-w-full flex-wrap;
    }
    #home-content {
      @apply max-w-full md:basis-2/3;
    }
    /* ===== Featured & Recent Posts Sections ===== */
    #featured,
    #recent-posts {
      @apply w-full flex-none pb-6 pt-12 sm:ml-12 md:ml-2;
    }
    #featured h2,
    #recent-posts h2 {
      @apply text-3xl font-semibold tracking-wide;
    }
    .all-posts-btn-wrapper {
      @apply my-4 text-center;
    }
    /* ===== Sidebar Section ===== */
    #home-sidebar-md, #home-sidebar-mobile {
      @apply -mx-2 max-w-full md:mx-0 md:w-1/4 md:mr-2;
    }
    /* ===== Category Section ===== */
    #home-categories {
      @apply max-w-full flex-none pb-6 pt-12 sm:ml-6 md:ml-2;
    }
    #home-categories h2 {
      @apply w-full pb-6 text-center text-3xl font-semibold;
    }
    /* ===== Product Section ===== */
    #products {
      @apply w-full;
    }
  </style>
</Layout>
